[MASTER]
extension-pkg-whitelist=numpy,nose,nose.tools,numpy.testing, pathlib.PurePath, pathlib.PosixPath, pathlib.Path
output-format=colorized

ignore-paths=market_data/tests

[MESSAGES CONTROL]
# disabled messages
disable=
        C0412,
        C1801,
        duplicate-code,
        E0402,
        W0611,
        W1116,
        W1203,
        W1309,
        fixme,
        unnecessary-dunder-call,
        import-error,
        invalid-name,
        logging-format-interpolation,
        missing-docstring,
        no-else-return,
        no-member,
        protected-access,
        too-few-public-methods,
        trailing-comma-tuple,

[DESIGN]
# Maximum arguments for a function.
max-args=10
max-attributes=14
max-locals=30
max-statements=60

[TYPECHECK]
ignored-modules = numpy, numpy.testing, pandas
ignored-classes = numpy, numpy.testing, pandas

good-names: X, x, y

[FORMAT]
# Maximum number of characters on a single line.
